django-bootstrap-v5
asgiref 
sqlparse
tzdata
django-easy-pdf
WeasyPrint
python_ldap-3.4.0-cp311-cp311-win_amd64.whl
django-auth-ldap
django-axes
docx2pdf
django-ckeditor
psycopg2-binary
pyasn1 == 0.4.8
pysnmp
python-dotenv == 1.0.1