{% extends "../base_generic.html" %}

{% load index %}
{% block content %}
  <h2><strong>Topic List: {{infotype.name}}</strong></h2>
  {% if col1 %}
    <ul>
      <table class="table">
      {% for i in length %}
      <tr>
        {% if i < lens.0 %}
        {% with top=col1|index:i %}
        <td>
          <a href="{% url 'entry-detail' top.pk %}">{{ top }}</a>
        </td>
        {% endwith %}
        {% else %}
        <td></td>
        {% endif %}
  
        {% if i < lens.1 %}
        {% with top=col2|index:i %}
        <td>
          <a href="{% url 'entry-detail' top.pk %}">{{ top }}</a>
        </td>
        {% endwith %}
        {% else %}
        <td></td>
        {% endif %}

        {% if i < lens.2 %}
        {% with top=col3|index:i %}
        <td>
          <a href="{% url 'entry-detail' top.pk %}">{{ top }}</a>
        </td>
        {% endwith %}
        {% else %}
        <td></td>
        {% endif %}
  
        {% if i < lens.3 %}
        {% with top=col4|index:i %}
        <td>
          <a href="{% url 'entry-detail' top.pk %}">{{ top }}</a>
        </td>
        {% endwith %}
        {% else %}
        <td></td>
        {% endif %}
      </tr>
      {% endfor %}
    </table>
    </ul>
  {% else %}
    <p>There are no topics in the Wiki.</p>
  {% endif %}
{% endblock %}
