<!DOCTYPE html>
<html lang="en">
  <head> 
    {% block title %}
      <title>IT Wiki</title>
    {% endblock %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!---->
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}
    <script src="{% static 'js/script.js' %}" ></script>
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
  </head>
  <body>
    <table class="table table-fixed">
        <tr>
            <th scope="col" class="col-3">{{printer.0.0}} - {{printer_ip}}</th>
            <th scope="col" class="col-3'">Level</th>
            <th scope="col" class="col-1'">Level %</th>
            <th scope="col" class="col-1'">Stock # <a class="link-primary pe-custom" onclick="window.open('{% url 'edit-toner' toner_key %}','name','width=600,height=400')">[Edit Toner Stock]</a></th>
        </tr>
        <tr>
            <td>Black Toner</td>
            <td>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: {{printer.0.2}}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </td>
            <td>{{printer.0.2}}%</td>
            <td>{{blackToner}}</td>
        </tr>
        <tr>
            <td>Cyan Toner</td>
            <td>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: {{printer.1.2}}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </td>
            <td>{{printer.1.2}}%</td>
            <td>{{cyanToner}}</td>
        </tr>
        <tr>
            <td>Magenta Toner</td>
            <td>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: {{printer.2.2}}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </td>
            <td>{{printer.2.2}}%</td>
            <td>{{magentaToner}}</td>
        </tr>
        <tr>
            <td>Yellow Toner</td>
            <td>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: {{printer.3.2}}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </td>
            <td>{{printer.3.2}}%</td>
            <td>{{yellowToner}}</td>
        </tr>
    </table>
  </body>
</html>